html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding: 10px;
}

#main {
  margin: 25px;
  border: 2px solid black;
  background-color: #185ec7;
  border-radius: 12px;
  font-size: 24px;
  text-align: center;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.search {
  border: 2px solid black;
  font-family: sans-serif;
}

#output {
  font-style: italic;
  font-size: 20px;
}